* {
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

@font-face {
    font-family: "espn";
    src: url("esp.ttf") format("truetype");
}

p {
    margin: 1em;
    font-size: 22px;
}

p b {
    font-size: 1.2em;
}

header,
nav,
article,
footer {
    width: 100%;
    padding: 1em 5em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header .espn {
    font-family: espn;
    font-size: 2em;
    background-color: red;
    color: white;
    display: block;
    transform: skew(-20deg);
    padding: 0 1em;
    height: 100%;
    width: fit-content;
}

header {
    padding: 0;
    padding-left: 3em;
    background-color: black;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px black;
    border: 3px solid black;
}

nav {
    background-color: darkgray;
}

article {
    background-color: lightgray;
    flex: 1;
    box-shadow: 1px 1px darkgray;
}

footer {
    background-color: white;
    display: flex;
}

footer .espn {
    font-family: espn;
    font-size: 2em;
    color: red;
    padding-right: 1em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.tabs {
    border: 2px solid blue;
}

.tab {
    opacity: 0;
    min-height: 200px;
    width: 100%;
    height: fit-content;
    position: absolute;
    display: block;
    padding: 5px;
}

.tab.selected {
    transition: opacity 2s;
    position: unset;
    display: block;
    right: unset;
    opacity: 1;
    overflow: auto;
}

.tabButtons {
    display: flex;
    flex-direction: row;
}

.tabButtons a {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.tabButtons a.selected {
    background-color: black;
    color: white;
    font-weight: bold;
}