* {
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'espn';
    src: url('esp.ttf') format('truetype');
}

p {
    margin: 1em;
    font-size: 22px;
}

p b {
    font-size: 1.2em;
}

header,
nav,
article,
footer {
    width: 100%;
    padding: 1em 5em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header .espn {
    font-family: espn;
    font-size: 2em;
    background-color: red;
    color: white;
    display: block;
    transform: skew(-20deg);
    padding: 0 1em;
    height: 100%;
    width: fit-content;
}

header {
    padding: 0;
    padding-left: 3em;
    background-color: black;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px black;
    border: 3px solid black;
}

nav {
    background-color: darkgray;
}

article {
    background-color: lightgray;
    flex: 1;
    box-shadow: 1px 1px darkgray;
}

footer {
    background-color: white;
    display: flex;
}

footer .espn {
    font-family: espn;
    font-size: 2em;
    color: red;
    padding-right: 1em;
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
}